@charset "utf-8";

/* setting ========================================= */
.page-container {
	background-image:none;
}
.menu-container .menu-light {
	display:none;
}
.main-container {
	height:510px;
}
#products .main-container {
	height:550px;
}
#home-page .slider-right-col img {
	filter:alpha(opacity=0);
}
#home-page .slider-right-col img#image1 {
	filter:alpha(opacity=100);
}
#gallery .main-container {
	height:610px;
}
#equipment .main-container,
#future .main-container {
	height:610px;
}

#about-us .main-container {
	height:650px;
}
#about-us .all-pages-text {
	padding:0 50px;
}
.addresses_wrapper div {
	margin-right:15px;
}
.all-pages-text {
	padding:0 15px;
	padding-left:50px;
}
.addresses_wrapper {
	width:900px;
	height:150px;
}
.form-wrraper {
	width:710px;
}
.nivo-controlNav {
	width:1050px;
	height:50px;
}
.form-wrraper .form_textarea #message {
	margin-top:1px;
}
.form-wrraper .form_fields .contact_form_field {
	margin-top:1px;
	margin-bottom:1px;
}
.required {
	margin-bottom:31px;
}
#gallery .galleries_list {
	overflow:visible;
}
#products .products-thumbs-wrpr {
	overflow:visible;
}