Options -Indexes

RewriteEngine On

RewriteRule ^jqfancybox\.css$ fancybox-jiggle/jqfancybox.css [L,NC]
RewriteRule ^jqfancybox\.js$ fancybox-jiggle/jqfancybox.js [L,NC]

RewriteRule ^([A-z0-9_.-]+)\.css$ css/$1.css [L,NC]
RewriteRule ^([A-z0-9_.-]+)\.js$ js/$1.js [L,NC]

#RewriteRule ^(.*)\.css$ accelerator\.php?file=$1.css [L,NC]
#RewriteRule ^(.*)\.js$ accelerator\.php?file=$1.js [L,NC]

RewriteRule ^(icon|images)/(.*)$ css/$1/$2 [L,NC]

RewriteRule contact\.php app/contact-getform\.php [L,NC]

#RewriteRule galleries-list\.php gallery\.php?gallery=0 [L,NC]
#RewriteRule galleries-list_fa\.php gallery_fa\.php?gallery=0 [L,NC]

#RewriteRule gallery-(.*)\.php gallery\.php?gallery=$1 [L,NC]
#RewriteRule gallery_fa-(.*)\.php gallery_fa\.php?gallery=$1 [L,NC]

#RewriteRule persian/(.*)\.php $1_fa.php [L,NC]
#RewriteRule persian/(.*) $1 [L,NC]
