<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{QUERY_STRING} ^$
    RewriteRule ^(.*)$ index.php?d=$1&BAD_HOSTING=%{HTTP:Authorization} [L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{QUERY_STRING} ^(.+)$
	RewriteRule ^(.*)$ index.php?%1&d=$1&BAD_HOSTING=%{HTTP:Authorization} [L]
	
	
	RewriteCond %{QUERY_STRING} ^(.*)$
	RewriteRule (.+).php $1.php?%1&BAD_HOSTING=%{HTTP:Authorization}
</IfModule>
<IfModule mod_security.c>
SecFilterScanPOST Off
</IfModule>